{% extends 'page-outer.twig' %}

{% block content %}

<article>

  <h1>Charities</h1>

  <hr>

  <section>

    <h1>MacMillan Cancer Support</h1>

    <img class="image-medium pull-right" src="/img/macmillan.jpg" alt="MacMillan Cancer Support logo">

    <p>“We are a source of support, helping with all the things that people
      affected by cancer want and need. It's not only patients who live with
      cancer, we also help carers, families and communities. We guide people
      through the system, supporting them every step of the way. We fund nurses
      and other specialist health care professionals and build cancer care
      centres. But we give so much more than medical help.</p>

    <p>People need practical support at home, so we provide anything from some
      precious time off for a carer, to a lift to hospital. People need
      emotional support, so we listen, advise and share information though our
      cancer support specialists, website and trained professionals. People need
      financial help to cope with the extra costs cancer can bring, so we give
      benefits advice, and grants for anything from heating bills to travel
      costs. Together we listen, we learn, we act to help people live with
      cancer.”</p>

  </section>

  <hr>

  <section>

    <h1>The Stroke Association</h1>

    <img class="image-medium pull-left" src="/img/stroke-association.jpg" alt="Stroke Association logo">

    <p>Stroke Association is the leading charity in the UK changing the world
      for people affected by stroke.</p>

    <p>In the last 20 years the numbers of people dying of stroke has halved
      while the number of major strokes has decreased by 40 per cent. More
      people than ever are benefiting from cutting-edge treatments and making
      full recoveries. And more people now understand the need to seek emergency
      treatment for stroke.</p>

    <p>We’ve been at the heart of every one of these developments, championing
      the cause of stroke and stroke survivors.</p>

    <p>Our research has helped to improve treatments and care which has saved
      tens of thousands of lives.</p>

    <p>Our support services have helped hundreds of thousands of people get
      through one of the most frightening experiences of their lives and build a
      life after stroke.</p>

    <p>And our campaigning has touched the lives of even more people through
      initiatives like the FAST campaign which we developed to help people
      recognise the signs of a stroke and take emergency action. The Department
      of Health in England was so impressed with this campaign that they took it
      up in 2009 and promoted to millions of people.</p>

  </section>

  <hr>

  <section>

    <h1>Cancer Research UK</h1>

    <img class="image-medium pull-right" src="/img/cancer-research-uk.jpg" alt="Cancer Research UK logo">

    <p>From our volunteers and supporters to our scientists, doctors and nurses,
      we’re all here to save more lives by preventing, controlling and curing
      all cancers.</p>

    <p>Together, we’re leading the world in discovering and developing newer,
      kinder treatments and getting closer to cures. As a result we've helped
      double survival rates in just 40 years.</p>

    <p>But we can't stop there. Every two minutes someone in the UK is diagnosed
      with cancer and this statistic is getting worse. We don't receive
      Government funding for our research, so every step towards beating cancer
      relies on every pound donated.  Research saves lives and our work is
      critical to ensuring more people beat this devastating disease.</p>

    <p>Sooner or later we will find a way to cure all cancers. Let's make it sooner.</p>

  </section>

</article>

{% endblock %}