{% extends 'page-outer.twig' %}

{% block content %}

<article>

  <p class="lead">We’re John and Thomas, two British cyclists
    aiming to cycle across America to raise money for 3 charities, Cancer
    Research UK, MacMillan and the Stroke Association.</p>

  <p class="lead">We depart from San Francisco at 9:00AM USA Western Time on
    Monday 19 August 2013. We aim to arrive in New York 35 days later on 23
    September 2013. We hope that this website will tell you everything you need
    to know about our journey, our motivation and inspire you to sponsor us.
    However if there’s anything else you’d like to know about our journey please
    get in touch, via twitter or email.</p>

</article>

{% endblock %}