<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>sf2ny 2013</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/css/sf2ny.css" rel="stylesheet">
</head>

<body>

  <header>

    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">sf2ny</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/who-we-are">Who we are</a></li>
                <li><a href="/why-are-we-doing-it">Why are we doing it?</a></li>
                <li><a href="/charities">Charities</a></li>
                <li><a href="/route">Route</a></li>
                <li><a href="/sponsor-us">Sponsor us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="splash">

    <div class="container">
      <div class="splash-caption">
        <h1>35 days, 3,150 miles, 2 cyclists, 1 challenge.</h1>
        <p class="lead">To cycle from San Francisco to New York.</p>
      </div>
    </div>

  </div>

  </header>

  <div class="container">
    {% block content %}
    {% endblock %}

    <hr>

    <footer>

      <p class="pull-right"><a href="#">Back to top</a></p>

      <p>Site content &copy; 2013 <a href="http://room271.net">room271</a></p>

    </footer>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
    <script src="/js/sf2ny.js"></script>

</body>
</html>