{% extends 'page-outer.twig' %}

{% block content %}

<article>

  <h1>The Route</h1>

  <p class="lead">In total the route is approximately 3,100 miles, which will be
    completed over an estimated 35 days, being 31 days of cycling and 4 rest
    days.</p>

  <p class="lead">The route will take us from the Golden Gate Bridge in San
    Francisco to (within sight of!) the Statue of Liberty in New York. It passes
    through the El Dorado National Forest, past Lake Tahoe, the Great Basin
    National Park, past Utah lake (within touching distance of Salt Lake City),
    Dinosaur National Monument and the Rocky Mountain National Park (including a
    high point in excess of 9,500ft) before descending onto the flatlands of
    Nebraska, Iowa, Illinois, Indiana and Ohio. The finishing straight sees us
    pass by Pittsburgh (Pennsylvania) before finishing in New York. A more
    detailed proposed itinerary is included below.</p>

  <p class="lead">We will be trailed on the journey by friends and family in an
    RV, which will provide our accommodation throughout the trip.</p>

  <hr>

  <div class="iframe-wrapper"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?saddr=San+Francisco,+CA,+United+States&amp;daddr=Rio+Vista,+CA,+United+States+to:Jenkinson+Lake,+United+States+to:Dayton,+NV,+United+States+to:US-50+E%2FLincoln+Hwy+to:Summit+Mountain,+Eureka,+NV,+United+States+to:Ely,+NV,+United+States+to:US-50+E%2FUS-6+E+to:Nephi,+UT,+United+States+to:Duchesne,+UT,+United+States+to:Dinosaur+National+Monument,+Dinosaur,+CO,+United+States+to:Hayden,+CO,+United+States+to:CO-14+E+to:Fort+Collins,+CO,+United+States+to:Sterling,+CO,+United+States+to:Culbertson,+NE,+United+States+to:Holdrege,+NE,+United+States+to:Dorchester,+NE,+United+States+to:Shenandoah,+IA,+United+States+to:Garden+Grove,+IA,+United+States+to:Bonaparte,+IA,+United+States+to:Elmwood,+IL,+United+States+to:Gilman,+IL,+United+States+to:Peru,+IN,+United+States+to:Spencerville,+OH,+United+States&amp;hl=en&amp;sll=39.368279,-103.40332&amp;sspn=19.227871,43.286133&amp;geocode=FVJmQAIdKAe0-CkhAGkAbZqFgDH_rXbwZxNQSg%3BFeY1RgIdMCO_-CnzU8forDeFgDGp-anwxXz6aQ%3BFS6_TgId8FvQ-CmDhu38L0eagDE2Aj70CpXmcw%3BFQ-2VgIdCCjf-CnNylYK0AeZgDEzYfGhqdvfVQ%3BFTJ-VwIdEM_1-A%3BFdTWWAIda_AO-SlPpXgl_yq7gDGGCkQqpoWALA%3BFU_eVgIdSvAm-Sn7R5NWjkmwgDEEQCKQeoViAg%3BFdC2UwIdGgE3-Q%3BFRruXQIdXoNV-SnZI1WmSFZMhzGe9FGk-Pm21w%3BFdvXZAIdi2Jr-Slz-gwC7FNOhzHi-r2DWhKj_Q%3BFdEOZgId7TCB-SE9_eYK-MsmUSkrbhDP6QJFhzE9_eYK-MsmUQ%3BFdbRaQIdPEmb-Smhg0805FJChzGq7uvkqEE1QQ%3BFdQJawIdgKGt-Q%3BFSxIawId-Ym8-SmtMPCQRUpphzGCQKu0KEKxqQ%3BFYblawId4yzZ-Sk1gQWMD_NxhzGmTTlcufl6Cg%3BFTrfZQIdm1n9-SmlEx2OC5t1hzGH6atc1BqYmg%3BFWsPaQIdWqQT-ilvw8xbZsWehzFPKhkA6pFVnw%3BFaU7bAIdIyU2-ikj5-keux2XhzHM-8123MiKsw%3BFRMNbgId6axQ-imv0SLCjsGUhzEuqpaXhr4FGQ%3BFVj5bgIdBqtr-inbUUywdmbphzE_hz0M4mMr6Q%3BFecAbQIdqTGH-ilbxPYjLf_mhzE9sHO13x_vzQ%3BFVc4bgIdWjij-ikNxqkMNHgKiDEWnIE-BxLdwA%3BFe4MbgIdOljB-ilptZcIEZYNiDEvXil5J_HxjA%3BFfXZbQIdb7He-imXNmbGOGgUiDG9RW0QSh6Rrg%3BFUorbQId5N34-ilHZCnRfFk-iDFUmljp6RGteA&amp;oq=Spencerville,+oh,+United+States&amp;dirflg=h&amp;mra=ls&amp;t=m&amp;ie=UTF8&amp;ll=39.808536,-103.447266&amp;spn=19.108291,43.286133&amp;output=embed"></iframe><br /></div>

  <small><a href="https://maps.google.com/maps?saddr=San+Francisco,+CA,+United+States&amp;daddr=Rio+Vista,+CA,+United+States+to:Jenkinson+Lake,+United+States+to:Dayton,+NV,+United+States+to:US-50+E%2FLincoln+Hwy+to:Summit+Mountain,+Eureka,+NV,+United+States+to:Ely,+NV,+United+States+to:US-50+E%2FUS-6+E+to:Nephi,+UT,+United+States+to:Duchesne,+UT,+United+States+to:Dinosaur+National+Monument,+Dinosaur,+CO,+United+States+to:Hayden,+CO,+United+States+to:CO-14+E+to:Fort+Collins,+CO,+United+States+to:Sterling,+CO,+United+States+to:Culbertson,+NE,+United+States+to:Holdrege,+NE,+United+States+to:Dorchester,+NE,+United+States+to:Shenandoah,+IA,+United+States+to:Garden+Grove,+IA,+United+States+to:Bonaparte,+IA,+United+States+to:Elmwood,+IL,+United+States+to:Gilman,+IL,+United+States+to:Peru,+IN,+United+States+to:Spencerville,+OH,+United+States&amp;hl=en&amp;sll=39.368279,-103.40332&amp;sspn=19.227871,43.286133&amp;geocode=FVJmQAIdKAe0-CkhAGkAbZqFgDH_rXbwZxNQSg%3BFeY1RgIdMCO_-CnzU8forDeFgDGp-anwxXz6aQ%3BFS6_TgId8FvQ-CmDhu38L0eagDE2Aj70CpXmcw%3BFQ-2VgIdCCjf-CnNylYK0AeZgDEzYfGhqdvfVQ%3BFTJ-VwIdEM_1-A%3BFdTWWAIda_AO-SlPpXgl_yq7gDGGCkQqpoWALA%3BFU_eVgIdSvAm-Sn7R5NWjkmwgDEEQCKQeoViAg%3BFdC2UwIdGgE3-Q%3BFRruXQIdXoNV-SnZI1WmSFZMhzGe9FGk-Pm21w%3BFdvXZAIdi2Jr-Slz-gwC7FNOhzHi-r2DWhKj_Q%3BFdEOZgId7TCB-SE9_eYK-MsmUSkrbhDP6QJFhzE9_eYK-MsmUQ%3BFdbRaQIdPEmb-Smhg0805FJChzGq7uvkqEE1QQ%3BFdQJawIdgKGt-Q%3BFSxIawId-Ym8-SmtMPCQRUpphzGCQKu0KEKxqQ%3BFYblawId4yzZ-Sk1gQWMD_NxhzGmTTlcufl6Cg%3BFTrfZQIdm1n9-SmlEx2OC5t1hzGH6atc1BqYmg%3BFWsPaQIdWqQT-ilvw8xbZsWehzFPKhkA6pFVnw%3BFaU7bAIdIyU2-ikj5-keux2XhzHM-8123MiKsw%3BFRMNbgId6axQ-imv0SLCjsGUhzEuqpaXhr4FGQ%3BFVj5bgIdBqtr-inbUUywdmbphzE_hz0M4mMr6Q%3BFecAbQIdqTGH-ilbxPYjLf_mhzE9sHO13x_vzQ%3BFVc4bgIdWjij-ikNxqkMNHgKiDEWnIE-BxLdwA%3BFe4MbgIdOljB-ilptZcIEZYNiDEvXil5J_HxjA%3BFfXZbQIdb7He-imXNmbGOGgUiDG9RW0QSh6Rrg%3BFUorbQId5N34-ilHZCnRfFk-iDFUmljp6RGteA&amp;oq=Spencerville,+oh,+United+States&amp;dirflg=h&amp;mra=ls&amp;t=m&amp;ie=UTF8&amp;ll=39.808536,-103.447266&amp;spn=19.108291,43.286133&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

  <hr>

  <div class="iframe-wrapper"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?saddr=Spencerville,+OH+45887,+USA&amp;daddr=Mansfield,+OH,+United+States+to:Lisbon,+OH,+United+States+to:New+Alexandria,+PA,+United+States+to:Huntingdon,+PA,+United+States+to:Ashland,+PA,+United+States+to:Califon,+NJ,+United+States+to:New+York,+NY,+United+States&amp;hl=en&amp;sll=40.580585,-79.178467&amp;sspn=2.365413,5.410767&amp;geocode=FUorbQId5N34-ilHZCnRfFk-iDFUmljp6RGteA%3BFXbsbQIdCeoU-ymHEop34uo5iDFWbywU-DoIYw%3BFaQhbgIdepMv-ymZuUO-4gI0iDEaI2Pczv5lFg%3BFfhqaAIdOCBE-yn9dSvmCcs0iDGz0ySVqqKeQw%3BFby_aQIdV6hZ-yk9XIjmVlbJiTEGb3Jjbq6daA%3BFbpHbgIdSg5z-ymXrAhISfPFiTH57n-lXEEj9g%3BFblUbQId9xiK-ylPJL8hAY_DiTFlwaLo6_Y20Q%3BFXFAbQIdK8KW-yk7CD_TpU_CiTFi_nfhBo8LyA&amp;oq=New+Alexandria&amp;mra=ls&amp;t=m&amp;ie=UTF8&amp;ll=40.613952,-79.189453&amp;spn=18.88656,43.286133&amp;output=embed"></iframe></div>

  <small><a href="https://maps.google.co.uk/maps?saddr=Spencerville,+OH+45887,+USA&amp;daddr=Mansfield,+OH,+United+States+to:Lisbon,+OH,+United+States+to:New+Alexandria,+PA,+United+States+to:Huntingdon,+PA,+United+States+to:Ashland,+PA,+United+States+to:Califon,+NJ,+United+States+to:New+York,+NY,+United+States&amp;hl=en&amp;sll=40.580585,-79.178467&amp;sspn=2.365413,5.410767&amp;geocode=FUorbQId5N34-ilHZCnRfFk-iDFUmljp6RGteA%3BFXbsbQIdCeoU-ymHEop34uo5iDFWbywU-DoIYw%3BFaQhbgIdepMv-ymZuUO-4gI0iDEaI2Pczv5lFg%3BFfhqaAIdOCBE-yn9dSvmCcs0iDGz0ySVqqKeQw%3BFby_aQIdV6hZ-yk9XIjmVlbJiTEGb3Jjbq6daA%3BFbpHbgIdSg5z-ymXrAhISfPFiTH57n-lXEEj9g%3BFblUbQId9xiK-ylPJL8hAY_DiTFlwaLo6_Y20Q%3BFXFAbQIdK8KW-yk7CD_TpU_CiTFi_nfhBo8LyA&amp;oq=New+Alexandria&amp;mra=ls&amp;t=m&amp;ie=UTF8&amp;ll=40.613952,-79.189453&amp;spn=18.88656,43.286133&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

</article>

{% endblock %}