{% extends 'page-outer.twig' %}

{% block content %}

<article>

  <h1>Who are are</h1>

  <p class="lead">We are John Webb and Thomas Rees, two work colleagues, friends and keen
    cyclists from Peterborough and Silverstone in the East of England.</p>

  <p class="lead">Together we have cycled from Calais to Monaco, along the west coast of
    Scotland and up some of the famous French alpine climbs (including Mont
    Ventoux and Col du Galibier). But on 17 August 2013 we’re taking on our
    biggest challenge to date – to cycle from San Francisco to New York.</p>

  <hr>

  <section>

    <h1>Thomas</h1>

    <img class="image-large" src="/img/thomas.jpg" alt="Thomas">

    <p>Growing up in Silverstone, I am a keen motorsport fan.  I moved to New
      Zealand when I was eight and came back to the UK to start secondary
      school.</p>

    <p>Always a keen follower of sport, I only developed my passion for cycling
      when I went to university and even then only bought my first road bike
      after finishing university.</p>

    <p>Having studied maths at Warwick University, I am now a corporate tax
      advisor based in the Midlands.  I enjoy cycling in the countryside around
      Milton Keynes and am also a keen follower of professional cycling, having
      enjoyed a fantastic year for British cycling watching Britain’s first Tour
      de France winner and spending three days in the velodrome at the
      Olympics.</p>

  </section>

  <hr>

  <section>

    <h1>John</h1>

    <img class="image-large" src="/img/john.jpg" alt="John">

    <p>Raised on a farm on the outskirts of Peterborough, I have always enjoyed
      being outdoors. From a young age I played rugby at my local rugby club,
      however, encouraged by my Uncle, I became more interested in football,
      playing in the Junior Peterborough League for “Bushfields” and supporting
      Peterborough United, for whom I am a regular season-ticket holder.</p>

    <p>I first started cycling during my time at Oxford University, where I
      studied Maths, when I decided that the best way to raise money for charity
      following the death of my grandmother was to cycle from Lands End to John
      O’Groats (it seemed easier than my other two ideas of swimming the Channel
      or running a marathon).</p>

    <p>I continued my interest in cycling throughout and after university, when
      I started to cycle regularly with Thomas at weekends. As well as cycling I
      have an interest in running, I have run four half marathons, and I
      competed in a Half Ironman in Milton Keynes in 2010.</p>

  </section>

</article>

{% endblock %}