{% extends 'page-outer.twig' %}

{% block content %}

<article>

  <h1>Why are we doing it?</h1>

  <p class="lead">The charities we have chosen are very close to both of our
    hearts with a number of friends and family affected by cancer and
    strokes.</p>

  <p class="lead">Clearly undertaking the challenge of cycling 3,150 miles will
    be an incredible journey but to be able to do it in the memory of others
    whilst raising money for three fantastic causes will make it all the more
    memorable and special.</p>

  <hr>

  <section>

    <h1>Thomas</h1>

    <p>Macmillan Cancer Support is a charity very close to my heart as Macmillan
      gave tremendous support to Erica, a very close friend of my family who
      sadly lost her battle to cancer in [ADD YEAR]. Having raised £[1,300] for
      Macmillan completing the UK three peaks in 24 hours in August 2012, this
      feels like an excellent next challenge to raise more money to support
      Macmillan’s work.</p>

    <p>As is the case for so many people, cancer has also affected my family, I
      lost my granddad to the disease in the 1990’s.</p>

    <p>Two of my grandparents also suffered from strokes towards the end of
      their lives and the work the Stroke association do in raising awareness
      and supporting those who have suffered from strokes is invaluable.</p>

  </section>

  <hr>

  <section>

    <h1>John</h1>

    <p>Like so many people in the UK, cancer has affected my family and friends.
      My grandma was diagnosed with oesophageal cancer in May 2004. It was not
      possible to control the spread of the cancer and despite a brave battle,
      my grandma died in November 2004. The speed of the deterioration had a big
      impact on the whole family. My Aunt was diagnosed with breast cancer
      around the same time in March 2004. After a series of chemotherapy
      treatments and a double mastectomy the cancer went into remission, however
      about 6 years later it resurfaced and despite the efforts of the cancer
      unit at Kings Lynn hospital, and the care and help of the Macmillan
      nurses, she passed away in March 2011.</p>

    <p>For this reason I am raising money for both Cancer Research UK, for the
      research they do to help prevent cancer, and to prolong the lives of those
      who suffer from it. I am also raising money for MacMillan, in honour of
      the amazing work they do to support those who suffer from the disease.</p>

    <p>On the other side of my family, my granddad suffered a stroke in December
      2008 and died in March 2009. He had always been very active, and was still
      helping out daily on his farm when he suffered the stroke. He had a few
      minor stokes followed by a major one that left him unable to move, swallow
      or communicate in any way spending this time confined to a bed in
      hospital.</p>

    <p>At the time of the stroke, I was not aware of the illness, however since
      then I have been struck by the work undertaken by the Stroke Association,
      particularly through the FAST campaign, bringing the attention of the
      illness to millions of people, and helping them to know how to take
      emergency action to try to save a life.</p>

  </section>

</article>

{% endblock %}